src/main/resources/website.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://tempuri.org/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://tempuri.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://tempuri.org/">
			<s:element name="GetArtigosCiberlojaSite">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="empresa"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="utilizador"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="password"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetArtigosCiberlojaSiteResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="GetArtigosCiberlojaSiteResult">
							<s:complexType>
								<s:sequence>
									<s:any minOccurs="0" maxOccurs="unbounded"
										namespace="http://www.w3.org/2001/XMLSchema"
										processContents="lax" />
									<s:any minOccurs="1"
										namespace="urn:schemas-microsoft-com:xml-diffgram-v1"
										processContents="lax" />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetFamilias">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="empresa"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="utilizador"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="password"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetFamiliasResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="GetFamiliasResult">
							<s:complexType>
								<s:sequence>
									<s:any minOccurs="0" maxOccurs="unbounded"
										namespace="http://www.w3.org/2001/XMLSchema"
										processContents="lax" />
									<s:any minOccurs="1"
										namespace="urn:schemas-microsoft-com:xml-diffgram-v1"
										processContents="lax" />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetArtigosCiberlojaSiteSoapIn">
		<wsdl:part name="parameters"
			element="tns:GetArtigosCiberlojaSite" />
	</wsdl:message>
	<wsdl:message name="GetArtigosCiberlojaSiteSoapOut">
		<wsdl:part name="parameters"
			element="tns:GetArtigosCiberlojaSiteResponse" />
	</wsdl:message>
	<wsdl:message name="GetFamiliasSoapIn">
		<wsdl:part name="parameters" element="tns:GetFamilias" />
	</wsdl:message>
	<wsdl:message name="GetFamiliasSoapOut">
		<wsdl:part name="parameters"
			element="tns:GetFamiliasResponse" />
	</wsdl:message>
	<wsdl:portType name="WebsiteSoap">
		<wsdl:operation name="GetArtigosCiberlojaSite">
			<wsdl:documentation
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço que devolve os artigos para site
			</wsdl:documentation>
			<wsdl:input message="tns:GetArtigosCiberlojaSiteSoapIn" />
			<wsdl:output message="tns:GetArtigosCiberlojaSiteSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="GetFamilias">
			<wsdl:documentation
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Serviço que devolve as famílias de artigos
			</wsdl:documentation>
			<wsdl:input message="tns:GetFamiliasSoapIn" />
			<wsdl:output message="tns:GetFamiliasSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WebsiteSoap" type="tns:WebsiteSoap">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetArtigosCiberlojaSite">
			<soap:operation
				soapAction="http://tempuri.org/GetArtigosCiberlojaSite"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFamilias">
			<soap:operation
				soapAction="http://tempuri.org/GetFamilias" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WebsiteSoap12" type="tns:WebsiteSoap">
		<soap12:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetArtigosCiberlojaSite">
			<soap12:operation
				soapAction="http://tempuri.org/GetArtigosCiberlojaSite"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFamilias">
			<soap12:operation
				soapAction="http://tempuri.org/GetFamilias" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Website">
		<wsdl:port name="WebsiteSoap" binding="tns:WebsiteSoap">
			<soap:address
				location="https://ns4.ciberloja.com:8081/website.asmx" />
		</wsdl:port>
		<wsdl:port name="WebsiteSoap12" binding="tns:WebsiteSoap12">
			<soap12:address
				location="https://ns4.ciberloja.com:8081/website.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>